.Home {
  text-align: left;
  background-color: #000000;
}

.Employer {
  text-align: left;
  background-color: #f3eeee;
}

.Home .Banner {
  background-color: #ffc909;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.Logo {
  height: 60px;
  margin-right: 20px;
}

.Title {
  margin: 0;
  /* margin-top:  */
  font-family: 'Gill Sans', sans-serif;
  font-size: 24px;
  color: white;
}

.Home Body {
  margin-left: 40px;
  padding: 20px;
}

.CreateProfileContainer {
  margin-top: 20px;
}

.CreateProfileButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Gill Sans', sans-serif;
  cursor: pointer;
  border-radius: 30%;
  margin-right: 10px;
}

.BodyTitle {
  margin-top: 40px;
  color: white;
}

.QuestionContainer {
  display: flex;
  margin-top: 20px;
}

.QuestionBox {
  flex: 1;
  background-color: white;
  padding: 10px;
}

.QuestionText {
  margin: 0;
}

.AnswerBox {
  flex: 1;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
  }

.Dropdown {
width: 100%;
padding: 10px;
font-size: 16px;
background-color: #ffe346;
}
.MatchesGoContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

/* .MatchesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
} */

.MatchesBox {
  background-color: #cccccc;
  width: 60%;
  padding: 20px;
  position: relative;
  margin-top: 40px;
}

.BasedOnBox {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #007bff;
  padding: 5px 10px;
}

.BasedOnText {
  color: white;
  font-weight: bold;
}

.GoButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Content {
  margin-top: 20px;
}

.JobRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MatchedJobIcon1 {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  margin-right: 10px;
  border-radius: 50%;
}

.MatchedJobIcon2 {
  width: 40px;
  height: 40px;
  background-color: #ff1e00;
  margin-right: 10px;
  border-radius: 50%;
}

.MatchedJobIcon3 {
  width: 40px;
  height: 40px;
  background-color: #0aa13d;
  margin-right: 10px;
  border-radius: 50%;
}

.ProfileDropdown {
  position: relative;
}

.ProfileButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
}

.DropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.DropdownMenu button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.DropdownMenu button:hover {
  background-color: #f5f5f5;
}
.TitleLinkBox {
  list-style-type: none;
  padding: 0;
  margin: 0px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  /* margin-bottom: 5px;
  margin-right: 10px; */

}

.HomeContent {
  text-align: center;
}

.EmployerContent {
  text-align: center;
}

.PageLinks {
  list-style-type: none;
  text-align: left;
  /* margin: 20; */
  margin-left: -40px;

  /* display: flex; */
}

.Employer .Banner {
  background-color: #ffc909;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileAndSavedJobs {
  display: flex;
  align-items: flex-end;
}

.savedJobs {
  padding: 10px;
  border-radius: 5px; /* Round corners */
  background: white;
  color: black;
  bottom: 50;
}

.Employer .Banner h2 {
  flex-grow: 1;
  text-align: center;
}

.PortalText {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
  color: black;
}

.FilterSection {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.SearchBox {
  background-color: #a9a9a9;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.SearchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
}


.FilterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.FilterButton {
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.Button1 {
  background-color: #ff0000;
}

.Button2 {
  background-color: #079907;
}

.Button3 {
  background-color: #3700ff;
}

.Button4 {
  background-color: #ffae00;
}

.Button5 {
  background-color: #00ccff;
}

.Button6 {
  background-color: #ea00ff;
}

.Button7 {
  background-color: #717903;
}

.Button8 {
  background-color: #00ff88;
}

.ContentSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;  /* Add padding around the section */
  box-sizing: border-box;
}

.QuestionBank .Collapsible__contentOuter,
.JobPostingBuilder .Collapsible__contentOuter {
  border-radius: 5px;
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  background: white; /* White background for each question box */
}

.QuestionBank .Collapsible {
  border: 4px solid #FFA07A; /* Light orange border for QuestionBank */
  margin-bottom: 20px;
}

.JobPostingBuilder .Collapsible {
  border: 4px solid #ADD8E6; /* Light blue border for JobPostingBuilder */
  margin-bottom: 20px;
}

.QuestionBank .Collapsible__trigger,
.JobPostingBuilder .Collapsible__trigger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  position: relative;
}

.QuestionBank .Collapsible__trigger:after,
.JobPostingBuilder .Collapsible__trigger:after {
  content: '▼';
  position: absolute;
  right: 0;
  transform: none;
}

.QuestionBank .Collapsible__trigger.is-open:after,
.JobPostingBuilder .Collapsible__trigger.is-open:after {
  content: '▲';
}

.answerSection {
  margin: 10px;
}
.TitleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddButton {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.RemoveButton {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.ScrollableContent {
  overflow-y: auto;
  max-height: 400px;  /* Adjust this based on your needs */
}

.GridOfButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.GridOfButtons button {
  background-color: lightgreen;
  padding: 10px;
  border: none;
  cursor: pointer;
}
  
p {
margin: 0;
}
